body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

.skill-box {
    display: flex;              /* FLEXBOX USED */
    gap: 15px;
}

.skill {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

form {
    display: flex;              /* FLEXBOX USED */
    flex-direction: column;
    width: 250px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 8px;
    background-color: black;
    color: white;
    border: none;
}

#error {
    color: red;
}
